<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="stylesheets/style.css" rel="stylesheet">

    <!--GETBOOTSTRAP CSS-->
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- BOOSTRAP-MATERIAL-DESIGN CSS -->
    <link rel="stylesheet" href="/javascripts/material-bootstrap/css/bootstrap-material-design.min.css">

    <link rel="stylesheet" href="/colorpicker/css/bootstrap-colorpicker.min.css">



</head>

<body>

    <div class="container-fluid">
        <div class="row" id="devices">

        </div>
    </div>

    <!-- JQUERY JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- GETBOOTSTRAP JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- BOOTSTRAP-MATERIAL-DESIGN JS -->
    <script src="/javascripts/material-bootstrap/js/material.min.js"></script>

    <!-- SLIDER -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>

    <script>
        // console.log({
        //     {
        //         devices
        //     }
        // });
    </script>

    <script src="/colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="/javascripts/index.js"></script>
</body>

</html>